<div class="container mt-5">
  <h1 [ngStyle]="{ color: colorEstado }">Trabajando con ngStyle</h1>
  <h2 [ngStyle]="{ color: color }">con objeto y metodo</h2>
  <h3 [ngStyle]="{ color: message === 1 ? 'green' : 'red' }">
    Mensaje condicional
  </h3>

  <br />

  <p [style.fontSize.px]="size">
    Coon ngStyle cambiamos el style.fonTsize al texto
  </p>

  <button class="btn btn-primary m-1" (click)="size = size + 5">+</button>
  <button class="btn btn-primary m-1" (click)="size = size - 5">-</button>

  <hr />

  <button
    class="btn"
    [class.btn-primary]="bandera"
    (click)="bandera = !bandera"
  >
    Enviar
  </button>
</div>
